$pink-100: hsl(330, 100%, 10%);
$pink-200: hsl(330, 100%, 20%);
$pink-300: hsl(330, 100%, 30%);
$pink-400: hsl(330, 100%, 40%);
$pink-500: hsl(330, 100%, 50%);
$pink-600: hsl(330, 100%, 60%);
$pink-700: hsl(330, 100%, 70%);
$pink-800: hsl(330, 100%, 80%);
$pink-900: hsl(330, 100%, 90%);
$pink-950: hsl(330, 100%, 95%);

$red-100: hsl(0, 100%, 10%);
$red-200: hsl(0, 100%, 20%);
$red-300: hsl(0, 100%, 30%);
$red-400: hsl(0, 100%, 40%);
$red-500: hsl(0, 100%, 50%);
$red-600: hsl(0, 100%, 60%);
$red-700: hsl(0, 100%, 70%);
$red-800: hsl(0, 100%, 80%);
$red-900: hsl(0, 100%, 90%);
$red-950: hsl(0, 100%, 95%);

$yellow-100: hsl(60, 100%, 10%);
$yellow-200: hsl(60, 100%, 20%);
$yellow-300: hsl(60, 100%, 30%);
$yellow-400: hsl(60, 100%, 40%);
$yellow-500: hsl(60, 100%, 50%);
$yellow-600: hsl(60, 100%, 60%);
$yellow-700: hsl(60, 100%, 70%);
$yellow-800: hsl(60, 100%, 80%);
$yellow-900: hsl(60, 100%, 90%);
$yellow-950: hsl(60, 100%, 95%);

$cyan-100: hsl(180, 100%, 10%);
$cyan-200: hsl(180, 100%, 20%);
$cyan-300: hsl(180, 100%, 30%);
$cyan-400: hsl(180, 100%, 40%);
$cyan-500: hsl(180, 100%, 50%);
$cyan-600: hsl(180, 100%, 60%);
$cyan-700: hsl(180, 100%, 70%);
$cyan-800: hsl(180, 100%, 80%);
$cyan-900: hsl(180, 100%, 90%);
$cyan-950: hsl(180, 100%, 95%);

$blue-100: hsl(210, 100%, 10%);
$blue-200: hsl(210, 100%, 20%);
$blue-300: hsl(210, 100%, 30%);
$blue-400: hsl(210, 100%, 40%);
$blue-500: hsl(210, 100%, 50%);
$blue-600: hsl(210, 100%, 60%);
$blue-700: hsl(210, 100%, 70%);
$blue-800: hsl(210, 100%, 80%);
$blue-900: hsl(210, 100%, 90%);
$blue-950: hsl(210, 100%, 95%);

$purple-100: hsl(240, 33%, 10%);
$purple-200: hsl(240, 33%, 20%);
$purple-300: hsl(240, 33%, 30%);
$purple-400: hsl(240, 33%, 40%);
$purple-500: hsl(240, 33%, 50%);
$purple-600: hsl(240, 33%, 60%);
$purple-700: hsl(240, 33%, 70%);
$purple-800: hsl(240, 33%, 80%);
$purple-900: hsl(240, 33%, 90%);
$purple-950: hsl(240, 33%, 95%);

$pink: $pink-800;
$red: $red-900;
$yellow: $yellow-900;
$cyan: $cyan-800;
$blue: $blue-800;
$purple: $purple-700;

$success: $cyan-800;
$info: $blue-900;
$error: $pink-800;
$warning: $yellow-900;

$text: light-dark($purple-300, white);
$link: $blue-400;

$body-grid-bg: light-dark($purple-950, $purple-300);
$body-grid-lines: light-dark($purple-900, $purple-400);
