@use './colors';
@use './fonts';
@use './gradients';

:root {
  --pink-100: #{colors.$pink-100};
  --pink-200: #{colors.$pink-200};
  --pink-300: #{colors.$pink-300};
  --pink-400: #{colors.$pink-400};
  --pink-500: #{colors.$pink-500};
  --pink-600: #{colors.$pink-600};
  --pink-700: #{colors.$pink-700};
  --pink-800: #{colors.$pink-800};
  --pink-900: #{colors.$pink-900};
  --pink-950: #{colors.$pink-950};
  --red-100: #{colors.$red-100};
  --red-200: #{colors.$red-200};
  --red-300: #{colors.$red-300};
  --red-400: #{colors.$red-400};
  --red-500: #{colors.$red-500};
  --red-600: #{colors.$red-600};
  --red-700: #{colors.$red-700};
  --red-800: #{colors.$red-800};
  --red-900: #{colors.$red-900};
  --red-950: #{colors.$red-950};
  --yellow-100: #{colors.$yellow-100};
  --yellow-200: #{colors.$yellow-200};
  --yellow-300: #{colors.$yellow-300};
  --yellow-400: #{colors.$yellow-400};
  --yellow-500: #{colors.$yellow-500};
  --yellow-600: #{colors.$yellow-600};
  --yellow-700: #{colors.$yellow-700};
  --yellow-800: #{colors.$yellow-800};
  --yellow-900: #{colors.$yellow-900};
  --yellow-950: #{colors.$yellow-950};
  --cyan-100: #{colors.$cyan-100};
  --cyan-200: #{colors.$cyan-200};
  --cyan-300: #{colors.$cyan-300};
  --cyan-400: #{colors.$cyan-400};
  --cyan-500: #{colors.$cyan-500};
  --cyan-600: #{colors.$cyan-600};
  --cyan-700: #{colors.$cyan-700};
  --cyan-800: #{colors.$cyan-800};
  --cyan-900: #{colors.$cyan-900};
  --cyan-950: #{colors.$cyan-950};
  --blue-100: #{colors.$blue-100};
  --blue-200: #{colors.$blue-200};
  --blue-300: #{colors.$blue-300};
  --blue-400: #{colors.$blue-400};
  --blue-500: #{colors.$blue-500};
  --blue-600: #{colors.$blue-600};
  --blue-700: #{colors.$blue-700};
  --blue-800: #{colors.$blue-800};
  --blue-900: #{colors.$blue-900};
  --blue-950: #{colors.$blue-950};
  --purple-100: #{colors.$purple-100};
  --purple-200: #{colors.$purple-200};
  --purple-300: #{colors.$purple-300};
  --purple-400: #{colors.$purple-400};
  --purple-500: #{colors.$purple-500};
  --purple-600: #{colors.$purple-600};
  --purple-700: #{colors.$purple-700};
  --purple-800: #{colors.$purple-800};
  --purple-900: #{colors.$purple-900};
  --purple-950: #{colors.$purple-950};
  --pink: #{colors.$pink};
  --red: #{colors.$red};
  --yellow: #{colors.$yellow};
  --cyan: #{colors.$cyan};
  --blue: #{colors.$blue};
  --purple: #{colors.$purple};
  --success: #{colors.$success};
  --info: #{colors.$info};
  --error: #{colors.$error};
  --warning: #{colors.$warning};
  --text: #{colors.$text};
  --link: #{colors.$link};
  --body-grid-bg: #{colors.$body-grid-bg};
  --body: #{fonts.$body};
  --heading: #{fonts.$heading};
  --code: #{fonts.$code};
  --gradient-rainbow: #{gradients.$rainbow};
  --gradient-twilight: #{gradients.$twilight};
  --gradient-sunrise: #{gradients.$sunrise};
  --gradient-dark: #{gradients.$gradient-dark};
  color-scheme: light dark;
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fonts.$body;
  font-size: 1rem;
  line-height: normal;
  color: colors.$text;
  background-color: colors.$body-grid-bg;
  background-image:
    linear-gradient(to right, colors.$purple-900 1px, transparent 1px),
    linear-gradient(to bottom, colors.$purple-900 1px, transparent 1px);
  background-size: 2rem 2rem;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  min-block-size: 100vh;
  min-inline-size: 100vw;

}

body[data-theme="dark"] {
  background-image:
    linear-gradient(to right, colors.$purple-400 1px, transparent 1px),
    linear-gradient(to bottom, colors.$purple-400 1px, transparent 1px);
}

button[data-theme-toggle] {
  position: fixed;
  top: 1rem;
  right: 1rem;
  aspect-ratio: 1;
  padding: 0.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;

  .sun {
    fill: colors.$purple-300;
  }

  .moon {
    fill: transparent;
  }
}

body[data-theme="dark"] button[data-theme-toggle] {
  .sun {
    fill: transparent;
  }

  .moon {
    fill: colors.$purple-300;
  }
}

*:focus {
  outline: solid 2px colors.$text;
}