@use './colors';
@use './fonts';

code {
  font-family: fonts.$code;
  font-size: 1rem;
  font-weight: 400;
}

p,
a,
li {
  font-family: fonts.$body;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin-block-end: 1lh;

  &:last-of-type {
    margin-block-end: 0;
  }
}

a {
  color: colors.$blue-500;

  &:visited {
    color: light-dark(colors.$purple-500, colors.$purple-800);
  }
}

ul, ol {
  width: calc(100% - 2rem);
  margin: 1rem;
}

li {
  margin-block-end: 0.5lh;

  &:last-of-type {
    margin-block-end: 0;
  }
}

blockquote {
  margin: 1rem;
  padding-inline: 1rem;
  border-left: solid 1px colors.$text;
  color: light-dark(colors.$purple-500, colors.$purple-900);
}