[aria-selected="true"],
[aria-selected="true"]:visited,
[aria-selected="true"]:active {
  background-color: white;
  color: hsl(240, 33%, 30%);
}

.demo {
  display: grid;
  place-items: unset;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  gap: 1rem;
  height: 100vh;
  padding: 1rem;
  margin-block-end: 2rem;

  @media(min-width: 768px) {
    grid-template-columns: 1fr 768px 1fr;
  }
}

header {
  height: fit-content;

  @media(min-width: 768px) {
    grid-column: 2/3;
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.inputs,
.utilities {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1rem;
}

.utilities > div,
.row > div {
  padding: 1rem;
  border-radius: 1rem;
}

.utilities > div {
  width: 100%;
}

@media(min-width: 768px) {
  .tabs-component {
    grid-column: 2/3;
  }
}

.tabs-container ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  background-color: transparent;
  overflow: hidden;
  margin: 0;
  margin-block-end: 1rem;
  padding: 0;
}

.tabs-container ul li {
  margin: 0;
  padding: 0;
  border: 0;
}

.tabs-container ul li a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5lh 1rem;
  min-height: 2rem;
  text-decoration: none;
  border: 0;
  color: light-dark(hsl(240, 33%, 30%), white);
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
}

.tabs-container ul li a:focus {
  outline: 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.tabs-panels article:focus {
  outline: 0;
}