@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&family=Lobster+Two&display=swap');

:root {
  --pink: #ff99cc;
  --orange: #ffcccc;
  --yellow: #ffffcc;
  --green: #ccffff;
  --blue: #99ccff;
  --purple: #9999cc;
  --bg-pink: #ffeeee;
  --bg-yellow: #ffffee;
  --bg-green: #eeffff;
  --bg-blue: #eeffff;
  --bg-purple: #eeeeff;
  --text: #333366;
  --link: #0066cc;
  --shadow: 4px 4px 4px rgba(0,0,0,0.5);
  --gradient-bg: linear-gradient(
      130deg,
      var(--orange),
      var(--yellow)
    );
  --gradient: linear-gradient(
    130deg,
    var(--pink) 0%,
    var(--yellow) 50%,
    var(--green) 90%
  );
  --gradient-dark: linear-gradient(
    130deg,
    var(--blue),
    var(--purple)
  )
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: var(--gradient-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Hepta Slab", serif;
  font-size: 10vmin;
  line-height: normal;
  color: var(--text);
}
